nav {
    position: absolute; right: 40px; top: 50%; transform: translateY(-50%);
    display: flex; align-items: center; gap: 12px;
}

nav a {
    text-decoration: none; font-size: 13px; font-weight: 500;
    padding: 10px 20px; border-radius: 12px;
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255,255,255,0.1); color: #fff;
    transition: 0.3s ease;
    position: relative;
}

nav a:hover { background: #fff; color: #000; }

.social-icon svg {
    width: 20px;
    height: 20px;
    fill: #fff;
    display: block;
    transition: 0.3s;
}

.social-icon:hover svg {
    fill: #000;
}